.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    padding: 4rem 1rem 1rem 1rem;
    text-align: center;

    margin: 0 auto;
}

.alert {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    max-width: 500px;
}